.VariantModel {
  animation-name: slideIn;
  animation-duration: 0.6s;
}

.VariantModelClosing {
  animation-name: slideOut;
  animation-duration: 0.4s;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}